:root {
  /* --primary-color: #334155; */
  /* --primary-color-hover: #475569; */
  --secondary-color: #536b8ba1 ;
  --primary-color-card: #97b9e3;
  --secondary-color-card: #dee3e79a;
  --secondary-color-text: #0369a1;
  --primary-button-color: #4c1d95;
  --nav-color: #f8fafc;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
