.cont-cards-vertical {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
}

.cont-cards-horizontal {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  gap: 10px;
  scroll-padding: 10px;
  height: 254px;
}
