.contenedor-create {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: auto;
  text-align: left;
  border-radius: 16px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 15px 15px 30px #c2c2c2, -15px -15px 30px #ffffff;
}

.contenedor-create2 {
  padding: 25px;
  margin: auto;
  text-align: left;
  border-radius: 16px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 15px 15px 30px #c2c2c2, -15px -15px 30px #ffffff;
}

.input-create {
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.input-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 600;
}

.input-label {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 16px;
}

.input-label-description {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 16px;
}

.input-label-platforms {
  display: inline-block;
  width: 140px;
  margin-bottom: 10px;
}
.input-label-genres {
  display: inline-block;
  width: 115px;
}
.input-label-image {
  display: inline-block;
  width: 60px;
  margin-bottom: 10px;
}

.input-forgot {
  text-align: right;
  font-size: 12px;
  color: red;
  padding-left: 4px;
  padding-bottom: 0.1rem;
}

.form-button {
  background-color: var(--primary-button-color);
  border-radius: 8px;
  padding: 12px 32px;
  height: 44px;
  text-align: center;
  color: white;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  margin-top: 1em;
}

.form-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.form-button:disabled {
  background-color: darkgray;
  color: white;
}
.required-text {
  color: grey;
  text-shadow: 2em;
  margin-bottom: 1px;
}

.barra {
  border-radius: 8px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.barra:focus {
  outline: none !important;
}

.barra-description {
  border-radius: 8px;
  height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.barra-description:focus {
  outline: none !important;
}

.genres {
  border-radius: 5px;
  font-weight: 40;
  margin: 1rem;
  padding-left: auto;
  padding-right: auto;
  background-color: white;
  border-width: 1px;
}

.button-genres {
  color: #090909;
  margin: 1em 1em;
  padding: 0.5em 1em;
  font-size: 12px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8ce;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-genres:active {
  color: rgba(102, 102, 102, 0.603);
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
