.contenedor-filters {
  margin: 12px 8px;
}

.dropdown {
  font-size: 15px;
  border-radius: 5px;
  height: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  background-color: rgb(247, 247, 247);
}
.dropdown:focus {
  outline: none !important;
}

.filter {
  display: inline-block;
  margin: 8px 15px 8px 5px;
}

.filter-icon {
  vertical-align: middle;
}
