.contenedor-filters {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #faf5ff;
  border-radius: 10px;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(97, 108, 111, 0.306);
  border-radius: 30px;
}

.dropdown {
  font-size: 15px;
  height: 20px;
  width: auto;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 20px;
  margin-bottom: 30px;
}
