.landing {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* margin: 100px; */
}

.text-cont {
  color: black;
  align-items: flex-start;
}

.logo {
  width: 50%;
  flex-direction: row;
  margin: auto;
}

.title {
  width: 90%;
}

.contenedor-titulo {
  flex-direction: row;
  margin: auto;
}

.contenido {
  text-align: center;
  justify-content: center;
  padding-bottom: 1em;
}
.data-contain {
  margin-top: 10px;
  padding-bottom: 10px;
}

.footnote {
  text-align: center;
  justify-content: center;
  padding-bottom: 1em;
  color: darkgray;
  width: 100%;
}

@media (max-width: 1000px) {
  .landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% 10% 10% 10%;
  }

  .title {
    width: 80%;
    min-width: 300px;
  }
  .text-cont {
    align-items: center;
  }
  .logo {
    width: 80%;
    min-width: 300px;
  }
}
