.contenedor {
  background-color: #1e1a15;
  align-items: center;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 0 30px;
  box-sizing: border-box;
}

.img {
  width: 75px;
  height: 75px;
}



