.pagination {
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}

.pagination-button {
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: white;
}
.pagination-NextPrevious {
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 2px;
  margin-right: 2px;
  color: var(--primary-button-color);
}
.pagination-button-NextPrevious {
  background-color: var(--secondary-color);
}

.pagination-button-current {
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  background-color: var(--primary-button-color);
  color: white;
}

.pagination-button:active,
.pagination-button:hover {
  background-color: var(--primary-button-color);
}
