.pagination {
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}

.pagination-button {
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  vertical-align: middle;
  color: white;
  cursor: pointer;
}
.pagination-NextPrevious {
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  vertical-align: middle;
  margin: auto;
  color: var(--primary-button-color);
  cursor: pointer;
}

.pagination-NextPrevious:hover {
  background-color: var(--primary-button-color);
  color: white;
}

.extra-left-padding {
  margin-left: 8px;
}

.pagination-button-current {
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  background-color: var(--primary-button-color);
  color: white;
}

.pagination-button:active,
.pagination-button:hover {
  background-color: var(--primary-button-color);
}
