.search-contenedor {
  border-radius: 8px;
  height: 42px;
  border-color: var(--secondary-color-search);
  border-width: 1px;
  border-style: solid;
  margin-right: 8px;
  width: 300px;
  background: url(../../img/search_mini.png) no-repeat scroll 8px 10px;
  padding-left: 35px;
  background-color: white;
}

.search-contenedor:focus {
  outline: none !important;
  border-width: 1px;
  border-color: var(--primary-color-search);
}

.contenedor-component {
  /* padding-left: 60px;
  padding-right: 60px; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  /* padding: auto; */
  /* margin-left: 40px;
  margin-right: 40px; */
}

.icon-text {
  display: flex;
}
